{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<h2 style="text-align:center" color:"#1e40af">Welcome Back</h2>
     
<form method="post" style="max-width:400px; margin:auto;">
    {% csrf_token %}
    <label for="username">Username</label>
    <input type="text" name="username" id="username" placeholder="Enter your Username" required>

    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Enter your Password" required>

    <button type="submit">Login</button>
</form>
<p style="text-align: center; margin-top: 20px;">
    Driver? <a href="{% url 'register' %}">Register Here</a>
</p>
{% endblock %}